@font-face {

    font-family: 'Red-October-Regular';

    src: url('../fonts/Red-October-Regular.ttf');

    src: url('../fonts/Red-October-Regular.ttf') format('eot'),

        url('../fonts/Red-October-Regular.ttf') format('woff'),

        url('../fonts/Red-October-Regular.ttf') format('truetype'),

        url('../fonts/Red-October-Regular.ttf') format('svg');


}

@font-face {

    font-family: 'a_OldTyperNr';

    src: url('../fonts/a_OldTyperNr.ttf');
    src: url('../fonts/a_OldTyperNr.ttf') format('eot'),
        url('../fonts/a_OldTyperNr.ttf') format('woff'),
        url('../fonts/a_OldTyperNr.ttf') format('truetype'),
        url('../fonts/a_OldTyperNr.ttf') format('svg');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    background: black;
}



::-webkit-scrollbar {
    display: none;
}


/* LOGO + BUTTON BLOCK */

.header {
    padding: 0;

    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;



    /*animation: flicker 1s linear infinite;*/
}


.video-block {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.logo-video {
    position: absolute;
    
    max-width: 100%;
    margin: 0 auto;
}


.btn-about-us {
    font-family: 'Red-October-Regular', sans-serif;
    outline: none;
    margin: 0;
    padding: 20px;
    text-decoration: none;
    position: absolute;
    width: auto;
    top: 90%;
 

    color: lightgray;
    transition: .7s ease-in-out;
}

.btn-about-us:hover {
    color: #555;
    transition: .7s ease-in-out;
    
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-bottom: 2px solid #555;

}


/* TEXT-DESCRIPTION-CONTAINER */

.container {
    width: 100%;
    height: auto;
}

.description-article {
    margin: 0 auto;
    padding: 0 5%;
    width: 90%;
}


.description-text {
    width: 70%;
    padding: 20rem 0;
    margin: auto;
    font-family: 'a_OldTyperNr';
    font-weight: 900;
    letter-spacing: 0.4rem;
    line-height: 2rem;
    font-size: 1.3rem;
    color: lightgray;
    text-align: center;
    font-size: 1.5rem;
        
}

/*
.text-reveal {
    padding: 3px 2px;
    background: #000;
    display: inline;
    transition: all 0.22s ease-in-out;
    cursor: pointer;
    text-shadow: none;
}

.text-reveal:hover {
    background-color: transparent;
    color: black;
}

*/


/* FOOTER */

.main-footer {
    font-family: 'a_OldTyperNr';
    height: 40%;
    width: 100%;
    color: lightgray;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/*
.footer-social-title {
    position: absolute;
    align-self: center;
    color: transparent;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: .20rem;
    padding-bottom: 25px;
    color: grey;
    transition: .5s;
}


.footer-social-title:hover {
    transition: .5s;
    transform: translateY(-5px);
    color: tomato;
    cursor: pointer;
}

*/


.footer-social-contact {
    margin-top: 2.5rem;
    display: inherit;
    list-style: none;
    align-self: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;

}


.social-button {
    margin-right: 2rem;
}

.social-button:nth-child(3) {
    margin: 0;
}

a {
    text-decoration: none;
    color: lightgray;
    
}




/*RESPONSIVE*/

@media (max-width: 1440px) {
    .header {
        width: 100%;
        height: 100%;

    }

    .video-block {
        width: 100%;
    }

    .logo-video {
        max-width: 100%;

    }


    .btn-about-us {
        top: 80%;
    }

    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;

    }

    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        
    }

    .footer-social-contact {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;


    }
}

@media (max-width: 1230px) {
    .header {
        width: 100%;
        height: 100%;

    }

    .video-block {
        width: 100%;
        height: auto;
    }

    .logo-video {
        max-width: 100%;
        transform: translateY(-50%);

    }


    .btn-about-us {
        top: 75%;
        font-size: large;
    }



    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }

    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }

    .footer-social-contact {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;


    }
}

@media (max-width: 1024px) {
    .header {
        width: 100%;
        height: 100%;
        
    }

    .video-block {
        width: 100%;
        height: auto;
    }

    .logo-video {
        max-width: 100%;        
        transform: translateY(-50%)

    }

    .btn-about-us {
        top: 75%;
        font-size: large;
    }


    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }

    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }

    .footer-social-contact {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;


    }
}


@media (max-width: 990px) {
    .header {
        width: 100%;
        height: 100%;
        
    }

    .video-block {
        width: 100%;
        height: auto;
    }

    .logo-video {
        max-width: 100%;
            
    }

    .btn-about-us {
        top: 75%;
        font-size: large;
    }

    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }

    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }

    .footer-social-contact {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;


    }

}


@media (max-width: 768px) {
    .header {
        width: 100%;
        height: 100%;
        
    }

    .video-block {
        width: 100%;
        height: auto;
    }

    .logo-video {
        max-width: 100%;
        transform: translateY(-50%);
    }

    .btn-about-us {
        top: 45rem;
        font-size: medium;
    }


    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }

    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }

    .footer-social-contact {
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;


    }
}



@media (max-width: 575px) {
    .header {
        width: 100%;
        height: 100%;
        
    }

    .video-block {
        width: 100%;
        height: auto;

    }

    .logo-video {
        max-width: 100%;
        
        
        
    }


    .btn-about-us {
        top: 70%;
        font-size: small;
    }

    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }

    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }

    .footer-social-contact {
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;

    }
}

@media (max-width: 414px) {
    .header {
        width: 100%;
        height: 100%;

    }

    .video-block {
        width: 100%;
        height: auto;


    }

    .logo-video {
        max-width: 100%;
        transform: translateY(-70%);

    }


    .btn-about-us {
        top: 30rem;
        font-size: small;
    }

    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }


    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }


    .footer-social-contact {
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;

    }
}

@media (max-width: 375px) {
    .header {
        width: 100%;
        height: 100%;
    }

    .video-block {
        width: 100%;
        height: auto;

    }

    .logo-video {
        max-width: 100%;
        transform: translateY(-50%);
        
    }


    .btn-about-us {
        top: 65%;
        font-size: small;
    }

    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }

    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }

    .footer-social-contact {
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;

    }
}

@media (max-width: 320px) {
    .header {
        width: 100%;
        height: 100%;
    }

    .video-block {
        width: 100%;
        height: auto;

    }

    .logo-video {
        max-width: 100%;
        
    }


    .btn-about-us {
        top: 65%;
        font-size: small;
    }

    .description-article {
        margin: 0 auto;
        padding: 0 5%;
        width: 90%;
    }


    .description-text {
        margin: 0 auto;
        padding: 2rem 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;
    }


    .footer-social-contact {
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        letter-spacing: 0.2rem;

    }
}







